/* - - - - - - - - - - - - - - - - - - - - - - - 
GENERAL
- - - - - - - - - - - - - - - - - - - - - - -  */
body, html {
  height: 100%;
}

.menu-text, .about, .projects, .top-bar {
  font-family: 'Karla', sans-serif;
}

.wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1100px;
}

a.menu-options {
  line-height: 50px;
  margin: 0px;
}

h3.menu-text {
  margin: 0px;
  line-height: 70px;
}

.top-bar li {
  background-color: white;
}

.top-bar-left {
  float: left;
}

.top-bar-right {
  float: right;
}



/* - - - - - - - - - - - - - - - - - - - - - - - 
NAV
- - - - - - - - - - - - - - - - - - - - - - -  */
.top-bar {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}

.sticky-topbar {
  width: 100%;
}

/* Menu w/ hover border CSS (from Foundation website) */
.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  /*Text color*/
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  /*Transition color*/
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  /* Text color when hovering*/
  color: #0a0a0a;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}




/* - - - - - - - - - - - - - - - - - - - - - - - 
NAV MOBILE
- - - - - - - - - - - - - - - - - - - - - - -  */
.title-bar {
  background-color: #222;
  height: 60px;
}

#mobile-menu {
  background-color: #222;
  padding: 10px;
}

#mobile-menu li {
  list-style: none;
}

#mobile-menu a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  line-height: 2;
}

#mobile-menu a:hover {
  color:  rgba(255, 255, 255, 0.8);
}

.js-off-canvas-overlay {
  background: rgba(0, 0, 0, 0.5);
}




/* - - - - - - - - - - - - - - - - - - - - - - - 
HERO
- - - - - - - - - - - - - - - - - - - - - - -  */
.hero {
  padding-right: 50%;
  padding-top: 150px;
  background-image: url("background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  background-color: #464646;
  min-height: 91.5vh;
}

.hero-words {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.3em;
  font-weight: 600;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 100px 100px white;
  padding: 8px 8px;
}

.hero-text-section {
  padding: 0 10%;
}




/* - - - - - - - - - - - - - - - - - - - - - - - 
MAIN
- - - - - - - - - - - - - - - - - - - - - - -  */
/* About */
.about, .projects {
  padding-top: 12%;
}

.about-title {
  text-align: center;
}

.projects-title {
  text-align: center;
}

.linkedin, .github, .email{
  padding: 0px 20px;
}

.logos {
  text-align: center;
}

/* Portfolio CSS (from Foundation website) */

.portfolio-hero-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 2rem 0;
}

.portfolio-hero-header-description {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding:0 50px;
}

.portfolio-hero-header-description li {
  -webkit-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  text-align: center;
  padding: 0 1.25rem;
  position: relative;
  white-space: nowrap;
}

.portfolio-hero-header-description li:before {
  content: "*";
  position: absolute;
  left: 0;
  top: 5px;
}

.portfolio-hero-header-description li:first-child:before {
  content: "";
}

.portfolio-hero-header-menu {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.portfolio-hero-header-menu li {
  margin: 1.25rem;
}

.portfolio-hero-header-menu li a {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}




/* - - - - - - - - - - - - - - - - - - - - - - - 
FOOTER
- - - - - - - - - - - - - - - - - - - - - - -  */
footer {
  padding: 70px;
}

.connect-title {
  text-align: center;
}




/* - - - - - - - - - - - - - - - - - - - - - - - 
MOBILE
- - - - - - - - - - - - - - - - - - - - - - -  */
@media only screen and (max-width: 639px) {
  .hero {
    background-image: url(background-mobile.png);
  }

  footer {
    padding: 12px;
  }

  .hero {
    padding: 60px 158px 20px 20px;
  }
}


